.base-wrapper {
    padding: 30px;
}


.page-head {
    font-size: 32px;
    margin: 0px;
}

.page-detail {
    text-align: center;
    margin: 40px 0px;
}

.page-detail p {
    margin: 0px;
    font-size: 16px;
}


.page-detail a {
    color: #0095cd;
    font-size: 28px;
    margin: 10px 0px;
    display: block;
    text-decoration: underline;
}

.social-link-bk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link-bk a {
    margin: 0px;
    
}


.dollar-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dollar-inner {
    min-width: 50%;
    max-width: 50%;
    min-height: 180px;
    border: 3px solid #97feff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dollar-inner p {
    font-size: 16px;
    margin-bottom: 0px;
}

.rate-text {
    color: #00aff0;
    font-size: 28px !important;
    margin-bottom: 10px !important;
}

.or-table {
    width: 100%;
    text-align: center;
}

.or-table thead tr th {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #cef9ff;
    font-size: 16px;
}

.or-table tbody tr td {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #cef9ff;
    font-size: 16px;
}

.pagination-area {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}


.pagination-area li {
    list-style-type: none;
    max-height: 30px;
    padding: 12px;
    background: #00aff0;
    color: white;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-area li:hover{
background-color:#00d1d3;
}

.filter-bk {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-left {
    display: flex;
    align-items: center;
}


.filter-left h2 {
    margin: 0px;
    margin-right: 15px;
}

.filter-left img {
    cursor: pointer;
}

.filter-right {
    display: flex;
}

.filt-inner {
    margin: 0px 10px;
    position: relative;
}

.filt-inner span {
    font-size: 15px;
}

.filt-pik {
    border: 0;
    font-size: 16px;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 15px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.dollar-inner img {
    margin: 13px auto;
}

.dwn-img {
    position: absolute;
    top: 5px;
    right: -1px;
    cursor: pointer;
    z-index: -1;
}


.banner-sec img {
    width: 100%;
    object-fit: contain;
}

.banner-sec {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.banner-caption {
    
    position: absolute;
    left: 50px;
}


.banner-caption h2 {
    color: white;
    font-size: 46px;
    width: 46%;
    font-weight: 600;
}


.banner-caption span {
    color: white;
    font-weight: 400;
    font-size: 26px;
    width: 60%;
    display: block;
}

.empty-table {
    display: block;
    text-align: center;
    padding: 60px 10px;
    color: #212121;
    font-size: 20px;
}

.sub-cap {
    width: 46% !important;
}

.page-h {
    font-size: 16px;
    margin: 20px 0px;
    margin-bottom: 30px;
}

.cnt-inner {
    text-align: center;
    margin-bottom: 10px;
}


.page-cnt {
    margin: 20px 0px;
    margin-top: 50px;
}


.btn-area {
    text-align: center;
}

.start-nw-btn {
    background: #ed1277;
    border: 0;
    color: white;
    padding: 15px 30px;
    font-size: 16pt;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
}