@media (max-width:768px) {
    .home-banner .item .caption {
        width: auto !important;
    }
    .cash_steps.container.help_guides {
        padding: 15px;
    }
    #slideshow2 {
        position: relative;
        height: 80px;
        top: 0px;
    }
    .banner_quotes {
        font-size: 12px;
        width: 186px;
        top: 12%;
        left: 3%;
        height: 100%;
    }
    section.parallax-main-banner {
        position: absolute;
    }
    .homepg_Cont .banner {
        height: 100%;
    }
    #slideshow2 IMG {
        height: 114px !important;
    }
    .ei-slider-thumbs {
        bottom: -21px;
    }
    #myCarousel .item img {
        height: 140px;
    }
    #myCarousel .item.active img {
        height: 140px;
    }
    .nav-justified>li {
        float: left;
        width: 24.5%;
    }
    .nav>li>a {
        margin-bottom: 0;
    }
    .carousel.Image_carousel .owl-carousel .owl-item img {
        margin: 0 auto;
    }
    .carousel.Image_carousel #img_demo .owl-nav .owl-prev {
        left: 37% !important;
    }
    .carousel.Image_carousel #img_demo .owl-nav .owl-next {
        left: 40% !important;
    }
    .carousel.Image_carousel.artist-img_carousel #img_demo .owl-nav .owl-next {
        right: 30% !important;
    }
    .manageprod_faq .tshirt_sec .tshirt_cart .price_cart a {
        background: none;
    }
    .container_aboutme {
        margin-top: 90px;
    }
    .container_aboutme .stats ul li {
        white-space: normal;
    }
    .container_aboutme .firstfilter {
        margin-top: 30px;
    }
}

.mobforme {
    display: none;
}

.mobno {
    display: none;
}

@media only screen and (max-width: 767px) {
    .col-sm-12.col-xs-12.filerby.theme-chosen.pull-right {
        margin-right: 45px;
        z-index: -9;
    }
    .btn_group_cards .btn_cards {
        margin-right: 10px !important;
    }
    .theme-chosen .theme-shop .form-group select {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container.filtersec.firstfilter {
        z-index: -9;
    }
    .theme-chosen .theme-shop {
        display: block;
        z-index: -9;
        margin-top: 80px;
    }
    .stats_sociallink {
        position: relative;
        top: 100px;
        margin-bottom: 100px;
    }
    .container.tshirt_sec {
        margin-bottom: 0px;
    }
    .container_aboutme {
        max-width: 95%;
    }
    .mobforme {
        display: block;
        margin-bottom: 20px;
    }
    .mobno {
        display: block;
    }
    .chanmb {
        display: none;
    }
    .reviews_all .title span {
        float: none;
        display: block;
        margin-top: 5px;
    }
    .profil h3 {
        margin-left: 50px !important;
    }
    .probg_tshirt .col-sm-6 {
        display: block !important;
    }
    .container_aboutme.filtersec section#responsiveGallery-container {
        padding: 20px 0px 0px 0px;
    }
    .itdet {
        margin-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid #ed1277;
    }
    .cash_steps {
        margin-bottom: 0px;
        margin-top: 20px;
        padding-top: 20px;
    }
    .cash_steps.help_guides {
        background: #cef9ff;
        border-top: 5px solid #97feff;
        border-bottom: 5px solid #97feff;
    }
    .carousel.Image_carousel input[type=range] {
        margin: 10px 5%;
        width: 90%;
    }
    .cash_steps.help_guides p {
        /* display: none; */
    }
    .tshirt_sec .tshirt_cart img {
        object-fit: cover;
    }
    .tshirt_sec {
        margin-bottom: 25px;
    }
    .createstation_tab .nav-tabs>li {
        width: 100%;
        margin: 2px auto;
        text-align: center;
    }
    .faq-accordion .tshirt_sec .col-sm-6 {
        display: block;
    }
    footer {
        margin-top: 0px;
    }
    footer h3 {
        font-size: 12px;
    }
    .carousel.Image_carousel p {
        padding: 0px 25px;
    }
    .responsiveGallery-container p.title {
        padding: 0px 25px;
    }
    .cash_steps .steps-blk img {
        max-width: 100%;
        width: 200px;
        /* height: 130px; */
    }
    .mobl_foot_link {
        display: block;
    }
    .footcenter a.link {
        padding-right: 0;
        font-size: 14px;
    }
    .desktop_foot_link {
        display: none;
    }
    .carousel.Image_carousel {
        padding-bottom: 0px;
    }
    .banner.dash_artist_carousel .item .caption {
        left: 4%;
        top: 0px;
        width: 85% !important;
    }
}


/*kareem*/

@media only screen and (min-width: 769px) {
    .navbar-header .search_group {
        display: none;
    }
    .mobheader {
        display: none;
    }
    .filtersec .filerby h3 {
        padding: 15px 10px !important;
    }
    .filtersec .filerby {
        margin-top: -9px;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 768px) {
    .price_cart .col-xs-5 {
        padding: 0px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 768px) {
    .mob_dro {
        display: none;
    }
    .filerby.pull-right h3 a {
        width: 55px !important;
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .drop_filter {
        display: none;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        background: #ffffff !important;
        border-bottom: 4px solid #ed1277;
    }
    .mobdown {
        background: #ebebeb;
        padding: 0;
    }
    .artist_header {
        background-size: 100%;
        height: 210px;
    }
    header {
        height: 115px;
    }
    .artist_header .user_contain .user_img {
        width: 100px;
        height: 100px;
        margin-top: -15px;
    }
    .artist_header .pull-right {
        float: none !important;
        background: #e9e9e9;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    .artist_header .user_contain .user_info {
        background: #f9f9f9;
        height: 70px;
        z-index: 3;
    }
    .firstfilter {
        position: relative;
    }
    .artist_header .user_contain ul {
        margin-bottom: 0px;
        padding-left: 0px;
    }
    .artist_header .user_contain li {
        padding: 15px;
    }
    .artist_header .user_contain .user_info h2 {
        padding-left: 10px;
    }
    .owl-carousel .owl-stage-outer {
        overflow: -moz-hidden-unscrollable !important;
    }
    #demos {
        padding: 25px !important;
    }
    .price_cart a span {
        display: none;
    }
    .price_cart .col-xs-7 {
        padding-right: 0px !important;
    }
    .anotherfilter .col-sm-2.filerby h3 {
        margin-top: 23px;
        width: 100%;
        text-align: right;
        margin-right: 15px;
    }
    .tshirt_sec .tshirt_cart .price_cart a {
        padding: 7px 18px;
        background: #ed1277;
        border-radius: 100px;
        width: 100px;
        float: right;
        text-align: center;
        display: inline-block;
    }
    .tshirt_sec .tshirt_cart .price_cart a:hover {
        padding: 7px 15px;
        width: 90px;
        float: right;
    }
    .tshirt_sec .tshirt_cart .price_cart a img {
        margin-top: -2px !important;
    }
    .firstfilter .filerby h3 {
        display: none;
    }
    .anotherfilter .filterby h3 {
        margin-top: 25px;
    }
    .mob_filt {
        display: block !important;
        background: white;
        padding: 8px 15px;
        border: 1px solid #0083b4;
        border-radius: 10px;
        margin-top: 14px;
        cursor: pointer;
        z-index: 999;
    }
    /* .tshirt_sec .col-sm-6 {width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
        display: none;
    } */
    .tshirt_sec .col-sm-6:nth-child(1) {
        display: block;
    }
    .anotherfilter .col-sm-5 h3 {
        font-size: 24px;
        white-space: nowrap;
        position: relative;
        top: -7px;
    }
    .firstfilter .col-xs-7 h3 {
        padding-left: 10px;
    }
    #demos {
        padding-bottom: 0px !important;
    }
    .filtersec .col-sm-2.filerby h3 a {
        margin-left: -15px;
    }
    .banneredit .edituser_img {
        right: 3%;
    }
    .banneredit {
        top: 60%;
    }
    .user_info .edituser_img {
        left: 0%;
        top: 60%;
        margin-left: 35px;
    }
    footer .foot_pay {
        float: none;
    }
    .modal.changeuser .modal-dialog {
        width: 95%;
    }
    .media_images .col-xs-6 {
        height: 110px;
    }
    .forgot {
        float: left;
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 359px) and (min-width: 310px) {
    .btn_group_cards {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
    .btn_group_cards {
        display: flex !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 768px) {
    #myNavbar {
        display: flex !important;
        padding: 0px;
    }
    .owl-carousel .owl-stage-outer {
        overflow: visible !important;
    }
    #myCarousel .item.active img {
        height: 450px;
    }
    .procaro {
        height: 570px;
    }
    .changer {
        top: 83%;
    }
    .artist_header .user_contain .user_info h2 {
        white-space: nowrap;
    }
    .bigcarrow .carousel-control.right {
        right: -87px;
    }
    .filtersec .col-sm-2.filerby h3 {
        margin-left: 0px;
    }
    .container_aboutme {
        max-width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    header .navbar li a {
        padding: 0px 0px !important;
    }
    header .links li {
        padding: 3px 15px !important;
    }
    .mobdown .navbar-header {
        padding: 0px 10px;
    }
    header .navbar-nav.links {
        top: 5px;
    }
    header .navbar .active a {
        border-bottom: none;
        color: #00aff0;
        font-weight: bold;
    }
    .mobheader .col-xs-3 {
        padding: 10px 5px;
    }
    .mobheader .navbar-right {
        display: flex;
        margin-top: -7px;
        float: right;
        margin-right: 0px;
    }
    header .navbar-toggle {
        background: #ed1277 !important;
        margin-right: 0px;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
        background: white;
    }
    .links .search_group {
        display: none;
    }
    .search_group {
        margin-left: 0px;
        margin-top: 3px;
    }
    .navbar-collapse .navbar-right {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .inverlogo {
        display: none;
    }
    footer .foot_pay {
        margin: 0 auto;
        width: 242px;
        max-width: 100%;
    }
    .footcenter {
        margin-bottom: 25px;
    }
    footer {
        padding: 25px 10px;
    }
    .mobiletop {
        padding: 10px 10px;
    }
    .mobiletop img {
        width: 35%;
    }
    .mobiletop .navbar-right img {
        width: auto;
    }
    .mobiletop .navbar-right {
        display: inline-flex;
    }
}

@media only screen and (max-width: 387px) {
    .artist_header {
        background-size: 110%;
    }
}

@media only screen and (max-width: 320px) {
    .artist_header {
        background-size: 140%;
    }
}

@media only screen and (max-width: 767px) {
    header .navbar {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
    .dashbo {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .tooltip_content {
        left: 50%;
        top: 30%;
    }
    .tooltip_content::before {
        right: -130px !important;
        left: auto;
    }
    .pro_uk p {
        padding: 0px 10px;
    }
    .pro_size p {
        padding: 0px 19px;
    }
    .changer {
        display: none;
    }
    .procaro {
        margin-top: 65px;
        padding: 0px 15px;
        height: auto;
    }
    .pro_deta h3 {
        font-size: 22px;
    }
    .container_aboutme .stats ul li {
        white-space: initial;
    }
    .bigcarrow .carousel-control.left {
        left: -6px;
        top: 24%;
    }
    .bigcarrow .carousel-control.right {
        right: -13px;
        top: 24%;
    }
    .procaro .item img {
        height: 310px !important;
    }
    .smallar {
        display: none;
    }
    .mrs_hinch.open .dropdown-menu {
        top: 76px;
        width: 165px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 10px;
        font-size: 14px;
    }
    .cash_steps p.blue_clr {
        font-size: 24px;
    }
    .steps-blk p {
        font-size: 15px;
    }
}


/*kareem*/


/*plugin responsive*/

@media only screen and (min-width:320px) and (max-width:385px) {
    .sambla_section ul {
        width: 100%;
        float: left;
        text-align: center
    }
    .sambla_section li {
        display: inline-block;
        float: none !important
    }
    .product_desc_sec .desc_sec {
        max-height: 100% !important
    }
    .sambla_section ul li:nth-child(2) {
        margin-left: 0 !important
    }
}

@media only screen and (min-width:815px) and (max-width:1200px) {
    .sambla_section ul li:nth-child(2) {
        margin-left: 0 !important;
        margin-top: 5px
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .section_faq {
        width: 98%;
        float: left;
        padding: 0 1%
    }
}

@media only screen and (min-width:320px) and (max-width:400px) {
    .mob-in {
        display: block;
        height: auto;
        width: 450px;
        margin: auto;
        object-fit: cover;
    }
    #myCarouselproduct1 {
        margin-top: -110%
    }
}

@media only screen and (min-width:401px) and (max-width:500px) {
    #myCarouselproduct1 {
        margin-top: -80%
    }
}

@media only screen and (min-width:401px) and (max-width:991px) {
    .mob-in {
        display: block;
        height: auto;
        width: 450px;
        margin: auto;
        object-fit: cover;
    }
}

@media only screen and (min-width:501px) and (max-width:640px) {
    #myCarouselproduct1 {
        margin-top: -58%
    }
}

@media only screen and (min-width:320px) and (max-width:580px) {
    .page_content_left {
        margin-top: 38px !important
    }
}

@media (max-width:425px) {
    .rrr-ic img {
        width: 50px
    }
}

@media only screen and (min-width:320px) and (max-width:480px) {
    #pdt_service_detail_pg {
        margin-top: 24px
    }
    #pdt_service_detail_pg h2 {
        margin-top: 1px
    }
    .pdt_sub-exp-txt>h3 {
        margin-top: 2px
    }
}

@media only screen and (min-width:481px) and (max-width:774px) {
    #pdt_service_detail_pg {
        margin-top: 24px
    }
    #pdt_service_detail_pg h2 {
        margin-top: 15px
    }
    .pdt_sub-exp-txt>h3 {
        margin-top: 15px
    }
}


/*jeevitha*/

@media only screen and (min-width: 769px) {
    .navbar-header .search_group {
        display: none;
    }
    .mobheader {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .custom_container {
        width: auto;
    }
    .creabg .col-lg-3 {
        background: #e3e3e3;
    }
    .cash_steps.container.help_guides {
        background: #ffffff;
    }
    .cash_steps.container.help_guides.main_faq {
        border: none !important;
    }
    .cash_steps .help_guides_content {
        margin-top: 0px;
    }
    .cash_steps.container.help_guides .no-margin .container {
        padding: 0;
    }
    .helppg_Cont section#responsiveGallery-container {
        padding-top: 25px;
    }
    .panel-group.faq-accordion i.fa.arrow_down {
        top: 10px;
    }
    .registr_btn.cht_mail_btn {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    button.registr_btn {
        margin-top: 10px;
    }
    .cash_steps .steps-blk {
        margin-bottom: 30px;
        padding: 0;
    }
    .merch-prod .col-sm-6 {
        display: block !important;
    }
    .firstfilter.merchfilte {
        margin-top: 10px;
    }
    .colpickers div {
        margin-right: 3px;
    }
    .merchandise_content .filter_drop li {
        width: 46%;
    }
    .merchandise_content .filter_drop {
        padding: 0px;
        margin-top: 15px;
    }
    .merchandise_content .filter_por .filter_drop li label {
        font-size: 11px;
        width: 100%;
    }
    .creabg {
        background: #ffff;
    }
    .nopadding .banner {
        margin-top: -15px;
    }
    .tshirt_sec .tshirt_cart {
        margin-bottom: 15px;
    }
    .savecrea1 {
        margin-top: -50px;
        margin-bottom: 20px;
    }
    button.add_item {
        display: block;
        margin-bottom: 20px !important;
        margin: 0 auto;
    }
    .media_images1 {
        padding-bottom: 5px;
        overflow-x: hidden;
    }
    .order_details_header .filtersec.order_filter h3 {
        width: 100%;
        padding-top: 5px;
    }
    .sales_stats {
        margin-top: 0px;
    }
    .recent_tabs {
        margin-top: 0px;
    }
    .order_details_header .product-image {
        width: 30% !important;
    }
    .slidpad {
        padding: 0px !important;
    }
    .left_menu.slider {
        margin-bottom: -4px !important;
        margin-top: 20px;
        padding-top: 10px;
    }
    body .left_menu li a i {
        margin-bottom: 10px !important;
    }
    .slick-prev,
    .slick-next {
        top: 40%;
    }
    .nopadding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .order_filter .searchbox {
        width: 160px;
        margin-left: 0px;
    }
    .ordfir_tab tr td:nth-child(1) {
        background: #cef9ff;
    }
    .pagination li a {
        margin: 5px 3px;
    }
    .order_filter {
        margin-top: -20px;
        margin-bottom: 15px;
    }
    .yoord {
        display: none;
    }
    .tps1 {
        left: 55%;
        top: 3.3%;
    }
    .tps3 {
        left: 55%;
        top: 77%;
    }
    .tps2 {
        left: 55%;
        top: 44.5%;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        background: #ffffff !important;
        border-bottom: 4px solid #ed1277;
    }
    .mobdown {
        background: #ebebeb;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) and (min-width: 768px) {
    #myNavbar {
        display: flex !important;
        padding: 0px;
    }
}

@media only screen and (max-width: 768px) {
    header .navbar li a {
        padding: 0px 0px !important;
    }
    header .links li {
        padding: 3px 11px !important;
    }
    .mobdown .navbar-header {
        padding: 0px 10px;
    }
    header .navbar-nav.links {
        top: 15px;
    }
    header .navbar .active a {
        border-bottom: none;
        color: #00aff0;
        font-weight: bold;
    }
    .mobheader .col-xs-3 {
        padding: 10px 5px;
    }
    .mobheader .navbar-right {
        display: flex;
        margin-top: -7px;
        float: right;
        margin-right: 0px;
    }
    header .navbar-toggle {
        background: #ed1277 !important;
        margin-right: 0px;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
        background: white;
    }
    .links .search_group {
        display: none;
    }
    .search_group {
        margin-left: 0px;
        margin-top: 3px;
    }
    .navbar-collapse .navbar-right {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .inverlogo {
        display: none;
    }
    footer .foot_pay {
        margin: 0 auto;
        width: 240px;
        max-width: 100%;
    }
    .footcenter {
        margin-bottom: 25px;
    }
    footer {
        padding: 25px 10px;
    }
    .mobiletop {
        padding: 10px 10px;
    }
    .mobiletop img {
        width: 35%;
    }
    .mobiletop .navbar-right img {
        width: auto;
    }
    .mobiletop .navbar-right {
        display: inline-flex;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1550px;
    }
    .artist_header {
        background: url(../images/artistbg.png);
        background-size: cover;
    }
    .artist_header .user_contain {
        height: 105px;
    }
    .artist_header .user_contain ul {
        display: flex;
        margin-top: 15px;
    }
    .artist_header .user_contain li {
        list-style-type: none;
        padding: 30px !important;
    }
    .artist_header .user_contain .user_info h2 {
        font-size: 25px;
        color: #212121;
        padding-left: 30px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
}


/*dashboard artist responsive*/

@media only screen and (min-width:320px) and (max-width:767px) {
    .f_m .fm_sec:first-child {
        border-right: 0px solid #e3e3e3;
    }
    .f_m .fm_sec:last-child {
        border-left: 0px solid #e3e3e3;
    }
    .f_m .fm_sec {
        margin-bottom: 20px;
    }
    .advertise_btn {
        top: 64% !important;
        width: 146px !important;
        position: absolute !important;
        left: 0px;
    }
    .mobile_banner {
        display: block !important;
    }
    .dsktp_banner {
        display: none !important;
    }
    .container.filtersec.firstfilter {
        margin-top: 100px;
    }
}

@media only screen and (min-width:768px) and (max-width:979px) {
    .advertise_btn {
        top: 60px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:991px) {
    /*left_menu*/
    .left_menu li {
        border-left: 0px !important;
        padding: 12px !important;
        margin-bottom: 4px !important;
        background: transparent !important;
        text-align: center;
    }
    .left_menu li a i {
        display: block;
        margin-bottom: 21px !important;
    }
    .left_menu li {
        padding: 0px !important;
    }
    .left_menu li a {
        font-size: 12px;
    }
    .left_menu .slick-current li {
        border-bottom: 3px solid #00aff0;
    }
    .left_menu li a span {
        float: left;
        padding-bottom: 13px;
        text-align: center;
        width: 100%;
    }
    .left_menu .slick-current li a i {
        color: #00aff0;
    }
    /*/.left_menu*/
    /*best_seller*/
    .best_seller .tshirt_sec {
        display: inline-block;
        float: none;
        margin: 0 auto 21px;
        max-width: 329px;
        width: 100%;
    }
    .best_seller {
        text-align: center;
    }
    /*/.best_seller*/
    /*psp_list*/
    .psp_list div {
        display: inline-block;
        float: none;
        margin: 0 auto 21px;
        max-width: 329px;
        width: 100%;
    }
    .psp_list {
        text-align: center;
    }
    /*/.psp_list*/
}


/*/.dashboard artist responsive*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .des_res {
        display: none !important;
    }
    .mob_res {
        display: block;
    }
    /* Force table to not be like tables anymore */
    .sales_stats.orders_tab table,
    .sales_stats.orders_tab thead,
    .sales_stats.orders_tab tbody,
    .sales_stats.orders_tab th,
    .sales_stats.orders_tab td,
    .sales_stats.orders_tab tr {
        display: block;
    }
    .sales_stats table,
    .sales_stats thead,
    .sales_stats tbody,
    .sales_stats th,
    .sales_stats td,
    .sales_stats tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .sales_stats.orders_tab thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .sales_stats thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        /*border: 1px solid #ccc;*/
    }
    td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
    }
    .sales_stats.orders_tab td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-family: "Rubik-Regular";
    }
    .sales_stats td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-family: "Rubik-Regular";
    }
    td {
        padding-left: 45% !important;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        border-top: 0px;
    }
    .sales_stats .table-responsive {
        border: 0px;
    }
    .mob_res tr {
        margin-bottom: 29px;
    }
    /*
    Label the data
    */
    /*sales_tab*/
    .sales_tab td:nth-of-type(2):before {
        content: "Sales";
        font-weight: 600;
    }
    .sales_tab td:nth-of-type(3):before {
        content: "Amount";
        font-weight: 600;
    }
    .sales_tab td:nth-of-type(4):before {
        content: "Units";
        font-weight: 600;
    }
    .sales_tab td:nth-of-type(5):before {
        content: "Earnings";
        font-weight: 600;
    }
    /*sales_tab*/
    /*orders_tab*/
    .orders_tab td:nth-of-type(1):before {
        content: "CustomerName";
        font-weight: 600;
    }
    .orders_tab td:nth-of-type(2):before {
        content: "DateOrdered";
        font-weight: 600;
    }
    .orders_tab td:nth-of-type(3):before {
        content: "Order no.";
        font-weight: 600;
    }
    .orders_tab td:nth-of-type(4):before {
        content: "ShippingDate";
        font-weight: 600;
    }
    .orders_tab td:nth-of-type(5):before {
        content: "Status";
        font-weight: 600;
    }
    .orders_tab tr {
        margin-bottom: 28px;
    }
    /*/.orders_tab*/
    /*recent_tab*/
    .recent_tabs td:nth-of-type(1):before {
        content: "Order No";
        font-weight: 600;
    }
    .recent_tabs td:nth-of-type(2):before {
        content: "Date Ordered";
        font-weight: 600;
    }
    .recent_tabs td:nth-of-type(3):before {
        content: "TOTAL";
        font-weight: 600;
    }
    .recent_tabs td:nth-of-type(4):before {
        content: "Shipping Date";
        font-weight: 600;
    }
    .recent_tabs td:nth-of-type(5):before {
        content: "Status";
        font-weight: 600;
    }
    .recent_tabs tr {
        margin-bottom: 28px;
    }
    /*/.recent_tab*/
    /*customer_order_tab*/
    .customer_order_tab td:nth-of-type(1):before {
        content: "Order No";
        font-weight: 600;
        padding-top: 2px;
    }
    .customer_order_tab td:nth-of-type(2):before {
        content: "Date Ordered";
        font-weight: 600;
        padding-top: 2px;
    }
    .customer_order_tab td:nth-of-type(3):before {
        content: "TOTAL";
        font-weight: 600;
        padding-top: 2px;
    }
    .customer_order_tab td:nth-of-type(4):before {
        content: "Shipping Date";
        font-weight: 600;
        padding-top: 2px;
    }
    .customer_order_tab td:nth-of-type(5):before {
        content: "Status";
        font-weight: 600;
        padding-top: 2px;
    }
    .customer_order_tab tr {
        margin-bottom: 28px;
    }
    /*/.customer_order_tab*/
}


/*aboutme */

.container_aboutme .stats ul li {
    white-space: normal;
}


/*/.aboutme*/


/*box slider*/

@media only screen and (min-width:500px) and (max-width:1050px) {
    .responsiveGallery-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width:320px) and (max-width:499px) {
    .responsiveGallery-wrapper {
        width: 100%;
    }
}


/*/.box slider*/


/*/dynamic carousel*/

@media only screen and (min-width:320px) and (max-width:1199px) {
    .home-banner .item .caption {
        font-size: 30px;
        width: 380px;
        top: 40px;
        line-height: 26px;
        height: 100%;
        max-width: 100%;
    }
    .home-banner .caption .advertise_btn a {
        padding: 0px 18px !important;
        width: 180px;
        height: 50px;
        line-height: 50px;
        font-size: 18px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:979px) {
    .banner .item .caption {
        left: 3%;
    }
    .banner .item .caption.faq_caption {
        top: 30px;
    }
}


/*/.dynamic carousel*/


/*aasif*/


/* Make more adjustments for phone */

@media screen and (max-width: 476px) {
    .order_details_header table.table.odered_lists tr td {
        text-align: right;
    }
}

@media screen and (max-width: 350px) {
    .order_details_header .product-removal {
        float: right;
    }
    .order_details_header .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    /*Edit*/
    .custom_container .form-group input {
        width: 100%;
    }
    .form-group.frm_relate {
        width: 100%;
    }
    .custom_container {
        margin: 0px 7%;
    }
    .edit_pf ul.nav.nav-tabs li {
        background: #03a7e5;
    }
    .edit_pf ul.nav.nav-tabs li a {
        font-size: 17.5px;
        font-weight: 600;
    }
    .edit_pf ul.nav.nav-tabs li:not(.active) a {
        color: #ffffff;
    }
    .responsiveGallery-btn_prev {
        left: 50% !important;
        bottom: 5% !important;
    }
    .responsiveGallery-btn_next {
        right: 50% !important;
        bottom: 5% !important;
    }
}

@media only screen and (min-width:320px) and (max-width:991px) {
    /*Edit*/
    .custom_container .form-group input {
        width: 100%;
    }
    .form-group.frm_relate {
        width: 100%;
    }
    .advertise_btn.nth-position {
        margin: 20px auto;
    }
    .form-group.t_tip {
        width: 100%;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /*Order_List*/
    .odered_lists td:nth-of-type(1):before {
        content: "Customer Name";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(2):before {
        content: "Billing Address";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(3):before {
        content: "Shipping Address";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(4):before {
        content: "Date Ordered";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(5):before {
        content: "Shipping Date";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(6):before {
        content: "Status";
        font-weight: 600;
        text-align: left;
    }
}


/* Make adjustments for tablet */

@media screen and (max-width: 768px) {
    /*orders_tab*/
    .order_details_header {
        padding: 8px !important;
    }
    .order_details th,
    td {
        font-size: 16px !important;
    }
    .odered_lists td:nth-of-type(1):before {
        content: "Customer Name";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(2):before {
        content: "Billing Address";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(3):before {
        content: "Shipping Address";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(4):before {
        content: "Date Ordered";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(5):before {
        content: "Shipping Date";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists td:nth-of-type(6):before {
        content: "Status";
        font-weight: 600;
        text-align: left;
    }
    .odered_lists tr {
        margin-bottom: 28px;
    }
    .order_details_header .product-title {
        display: none;
    }
    .order_details_header h4.mob_display {
        display: block !important;
        font-weight: bold;
    }
    .order_details_header .product-image img {
        width: 100%;
    }
    /*/.orders_tab*/
    .order_details_header .column-labels {
        display: none;
    }
    .order_details_header .product-image img {
        margin: 0 0 10px 10px;
    }
    .order_details_header .product-price {
        clear: both;
        width: 100%;
    }
    .order_details_header .product-quantity {
        width: 100px;
    }
    .order_details_header .product-quantity input {
        margin-left: 20px;
    }
    .order_details_header .product-quantity:before {
        content: 'x';
    }
    .order_details_header .product-removal {
        width: auto;
    }
    .order_details_header .product-line-price {
        float: right;
        width: 70px;
    }
    .order_details_header .product-image {
        width: 36%;
        float: right;
    }
    .order_details_header .product-details {
        float: none;
        margin-bottom: 10px;
        width: 60%;
    }
    .order_details_header .filtersec h3 {
        font-size: 22px;
    }
    .order_details_header .product-details ul li span:first-child {
        width: 52% !important;
    }
    .order_details_header .product-details ul li span:nth-child(2) {
        width: 45% !important;
    }
    .order_details_header .product-price span:nth-child(2) {
        float: none;
        position: absolute;
        right: 18px;
    }
    .order_details_header .filtersec.order_filter h3 {
        border-bottom: 2px solid #cef9ff;
        padding-bottom: 10px;
    }
    .order_details_header table.table.odered_lists tr td {
        border-bottom: 2px solid #cef9ff !important;
    }
}


/*aasif*/

@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .banner .item .caption.hlp_caption {
        top: 59px;
        left: 10px;
        height: 100%;
        width: 304px;
    }
    .banner .item .caption p {
        font-size: 30px !important;
    }
    .filtersec .filerby h3 {
        font-size: 15px;
    }
    .filtersec.order_filter .filerby h3 {
        font-size: 13px;
    }
    h3.cate.togcate {
        margin-top: -3px;
    }
    .mrs_hinch .dropdown-menu {
        left: -30px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .responsiveGallery-btn_prev {
        left: 50% !important;
    }
    .responsiveGallery-btn_next {
        right: 50% !important;
    }
    .cash_steps.help_guides .steps-blk {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width:1900px) {
    .home-banner .item .caption {
        font-size: 48px;
        width: 620px;
        top: 88px;
        line-height: 50px;
        max-width: 100%;
    }
    .home-banner .banner .item .caption p {
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .banner .item .caption.station_caption {
        width: 600px;
        top: 25px;
        font-size: 22px;
    }
    .banner.dash_artist_carousel .item .caption h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width:2550px) and (max-width:3990px) {
    .responsiveGallery-btn_prev {
        left: 48% !important;
    }
    .responsiveGallery-btn_next {
        right: 48% !important;
    }
}

@media (min-width: 320px) {
    .container {
        max-width: 1320px !important;
        margin: 0 auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media only screen and (min-width:768px) and (max-width:1200px) {
    body .carousel .carousel-inner .item img {
        min-height: 339px !important;
    }
    body .home-banner .item .caption {
        width: 384px !important;
        top: 68px;
        max-width: 100%;
    }
}

@media only screen and (min-width:1201px) and (max-width:1279px) {
    body .home-banner .item .caption {
        top: 58px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1239px) {
    header .navbar-brand {
        padding-right: 10px !important;
    }
    header .links li {
        padding: 10px !important;
    }
    .search_group {
        margin-left: 0px !important;
    }
    .logreg a:nth-child(1)::after {
        padding-left: 5px !important;
    }
    header .navbar li a {
        font-size: 14px !important;
    }
    .navbar-right {
        margin-right: -30px !important;
    }
}

@media only screen and (min-width:800px) and (max-width:1023px) {
    .navbar-header {
        text-align: left !important;
        margin-left: 15px !important;
    }
    #myNavbar .nav.navbar-nav.navbar-right {
        position: absolute;
        right: 15px;
        top: 30px !important;
    }
    header .navbar li a {
        font-size: 14px !important;
    }
    .navbar-nav>li {
        float: left !important;
    }
    #myNavbar ul#navbar-right {
        position: absolute;
        left: 600px;
        top: -50px;
    }
    #myNavbar {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    #myNavbar .links {
        display: flex;
        justify-content: flex-end;
    }
    header .navbar-right li::after {
        left: 0px;
    }
    .search_group {
        margin-left: 0px !important;
    }
}

.btn_group_cards .btn_cards {
    margin-bottom: 20px;
}

@media only screen and (min-width:320px) and (max-width:900px) and (orientation: landscape) {
    .basi {
        padding-left: 30px;
        width: 95% !important;
        padding-right: 0px;
    }
    .btn_group_cards .btn_cards {
        margin-bottom: 20px;
        margin-right: 25px;
    }
    .container.filtersec.firstfilter {
        margin-top: 100px;
    }
    body section .owl-theme .owl-nav {
        display: block !important;
    }
}

@media only screen and (min-width:568px) and (max-width:1023px) and (orientation: landscape) {
    .mobheader .navbar-right {
        float: none !important;
        margin-left: 10%;
    }
    .quanf select {
        margin-left: 40px !important;
    }
    .basi1 .table_basket tr {
        position: initial;
    }
    .header_content_details img {
        margin: 0px auto;
        display: block;
        margin-bottom: 15px;
    }
    .wishbanner .carousel .carousel-inner .item img {
        height: 230px !important;
    }
    .wishbanner .item .caption.hlp_caption {
        top: 95px !important;
    }
}

@media only screen and (min-width:769px) and (max-width:1023px) {
    header .navbar-header {
        float: left;
        text-align: center;
        width: 100%;
    }
    header .navbar-brand {
        display: inline-block;
        float: none;
        margin-bottom: 30px;
        padding-right: 0;
        padding-top: 21px;
    }
    #myNavbar {
        float: left;
        text-align: center;
        width: 100%;
    }
    #myNavbar ul {
        /*        display: inline-block;*/
        float: none;
    }
    #myNavbar .navbar-nav>li {
        display: inline-block;
        float: none;
    }
    #myNavbar .nav.navbar-nav.navbar-right li {
        /* float: left; */
    }
    #myNavbar .nav.navbar-nav.navbar-right {
        float: none !important;
    }
}

@media screen and (max-width:567px) {
    .table_basket table thead tr {
        position: initial !important;
    }
    h3.art-pg {
        display: block;
        margin-top: 30px;
    }
    .artist_header .pull-right.tab-li {
        width: 100%;
        display: block;
        text-align: left;
    }
}

@media only screen and (max-width: 767px) and (min-width:320px) {
    .container.artist-dashboard .advertise_btn {
        width: 100% !important;
        top: 85% !important;
    }
    .yourmobord {
        display: block;
    }
    .yourord {
        display: none;
    }
    h3.wt-f0 {
        width: 100%;
        white-space: nowrap;
    }
    section.container_default_custom>div>h3 {
        padding-left: 15px;
    }
    .order_filter .searchbox {
        display: none;
    }
    .filtersec .filerby h3 {
        margin: 14px 0px;
    }
    .filtersec.order_filter.firstfilter .filerby h3 {
        margin: 20px 0px 14px 0px;
    }
    section.container_default_custom.completed_log .log-out p {
        margin-bottom: 15px !important;
    }
    .header_content_details.basi {
        padding-left: 15px;
    }
    .tshirt_sec .tshirt_cart .price_cart a {
        padding-top: 7px;
        font-size: 17px;
    }
    .container.tshirt_sec.wishtshirt.wishlist-tr .price_cart a img {
        display: inline;
    }
    .filerby.pull-right.c-0 {
        margin-top: 6px;
    }
    .row.custom_container.d-f {
        margin: 0% auto !important;
    }
    .advertise_sec.advertise_over.order_details_header {
        padding: 30px !important;
    }
    .price_cart .align-rt a {
        position: relative;
        right: 15px;
    }
    .custom_container .add_popup {
        max-width: 100%;
        width: 370px;
    }
    .header_cont.lt_table .check_box_ct .checkbox {
        width: 370px;
        max-width: 100%;
    }
    .btn_group_cards {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }
    form.mobforme .input-group.search_group {
        position: relative;
        top: 10px;
        left: 10px;
    }
    .sales_stats.orders_tab.customer_order_tab {
        margin-top: -10px;
    }
    .check_box_ct .checkbox label {
        width: 100%;
        text-align: center;
        display: inline-grid;
        width: 370px;
        max-width: 100%;
        text-align: center !important;
        margin: auto !important;
    }
    .title_product span {
        width: 100%;
    }
    .customer_adv .tshirt_sec .tshirt_cart .price_cart a {
        padding-left: 18px;
    }
    .tshirt_sec .tshirt_cart .price_cart a {
        display: inline-flex;
    }
    .tshirt_sec .tshirt_cart .price_cart a small {
        position: relative;
        top: 3px;
    }
}

@media only screen and (max-width: 992px) and (min-width:320px) {
    section#checkout_guest>div h3 {
        padding: 0px 15px;
    }
    .wishtshirt .wish1 {
        margin-top: 0px;
    }
}

@media screen and (max-width:1200px) {
    .fm_list {
        height: 435px;
    }
}

@media screen and (min-width:1024px) {
    .price_cart .align-rt a {
        margin-left: -19px;
    }
    .price_cart a i.fas.fa-shopping-basket {
        position: relative;
        top: -2px;
    }
}

@media screen and (min-width:767px) {
    .price_cart a small {
        font-size: 14px;
    }
    .price_cart .price_cart a img {
        position: relative;
        top: -2px;
    }
}

@media screen and (max-width:380px) {
    .form-group.t_tip i {
        right: 0px;
        top: -19px;
    }
    .slick-prev {
        left: -14px !important;
    }
}

@media screen and (max-width:1024px) {
    .header_content_details img {
        margin: 0px auto;
        display: unset !important;
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width:812px) and (orientation: landscape) {
    section#checkout_completed_log .checkbox label p {
        margin-left: -5px;
        margin-top: 2px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:landscape) {
    ul.left_menu.regular.slider.slick-initialized.slick-slider {
        margin-top: 50px !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    ul.left_menu.regular.slider.slick-initialized.slick-slider {
        margin-top: 50px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:991px) {
    .desk-in {
        display: none !important;
    }
    .mob-in {
        display: block !important;
    }
}

@media only screen and (max-width: 991px) and (min-width:768px) {
    .container.artist-dashboard .advertise_btn {
        top: 85% !important;
        left: 32%;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .orders_tab td::before {
        text-align: left;
    }
    .orders_tab td {
        text-align: right;
    }
    .sales_stats td::before {
        text-align: left;
    }
    .sales_stats td {
        text-align: right;
    }
    body .psp_list .fm_list h1 {
        font-size: 22px;
    }
    .advertise_sec {
        padding: 6px;
    }
    .sales_stats {
        padding: 0px 6px;
    }
    .order_details th,
    td {
        font-size: 16px !important;
    }
    .price_cart .col-sm-6 {
        padding: 0px 9px;
    }
    .sales_stats.orders_tab tbody tr td:first-child {
        background: #cef9ff;
    }
    .pagination {
        margin: 0px;
    }
    td.view_det {
        display: block !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .orders_tab td::before {
        text-align: left;
    }
    .orders_tab td {
        text-align: right;
    }
    .sales_stats.orders_tab tbody tr td:first-child {
        background: #cef9ff;
    }
    td.view_det {
        display: block !important;
    }
}

@media only screen and (min-width:1025px) and (max-width:1199px) {
    .order_filter .row div {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (min-width:1240px) and (max-width:1270px) {
    .search_group {
        margin-left: -7px;
    }
}


/* Home Page - 12-11-19 */


/* Home Page - Banner */

@media only screen and (min-width:1320px) {
    .home-banner .banner .item .caption p {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 30px;
        font-family: "Rubik-Bold";
        max-width: 580px;
    }
}

@media only screen and (max-width: 1319px) {
    .home-banner .banner .item .caption p {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 30px;
        font-family: "Rubik-Bold";
        max-width: 580px;
    }
    .carousel .carousel-inner .item img {
        min-height: 470px !important;
    }
    .caption .advertise_btn {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    body .carousel .carousel-inner .item img {
        min-height: 470px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 320px) {
    .home-banner .caption .advertise_btn a {
        font-size: 16px !important;
    }
    .home-banner .banner .item .caption p {
        max-width: 340px;
    }
    .caption .advertise_btn {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .banner .carousel .item .caption .advertise_btn {
        position: static !important;
    }
    .mobdown .navbar .navbar-collapse {
        left: 0;
        right: 0;
        width: 100%;
        margin: 0px;
        padding-bottom: 10px;
    }
    header .navbar-nav.links {
        margin: 0px;
    }
    header .links li {
        padding: 10px 0px !important;
    }
}

@media only screen and (max-width: 400px) {
    .home-banner .banner .item .caption p {
        max-width: 290px;
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
    .order_details_header .filtersec h3 {
        font-size: 22px !important;
    }
    .advertise_sec.advertise_over.order_details_header {
        padding: 30px 20px !important;
    }
    .order_details_header .product-details {
        width: 60% !important;
    }
    .order_details .product .product-details .product-description {
        margin: 0px !important;
    }
    .order_details_header .product-image {
        width: 28% !important;
    }
    .order_details_header .product-details {
        width: 61% !important;
    }
}

@media only screen and (max-width: 1127px) and (min-width: 1025px) {
    .advertise_sec {
        padding: 28px 11px !important;
    }
    .order_details_header table.table.odered_lists td,
    .order_details_header table.table.odered_lists th {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .order_details_header .order_details .table.odered_lists>tbody>tr>td {
        padding-top: 7px;
    }
}


/* Home Page - Banner  - 12-11-19*/


/* Home Page */


/* Home Page - Banner  - 12-11-19*/


/* Home Page */

@media (min-width: 1920px) {
    .artist_header .user_contain ul {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .container.user_contain>.row .user_info>a {
        width: 104px;
        height: 104px;
        min-width: 104px;
        margin-top: -17px;
    }
    .artist_header .user_contain .user_img {
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .container.user_contain {
        padding: 0px 0px;
    }
    .container.user_contain>.row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container.user_contain>.row .user_info {
        padding-left: 30px;
    }
    .artist_header .pull-right {
        padding-right: 30px;
    }
    .artist_header .user_contain ul {
        margin-left: 96px;
        margin-right: auto;
    }
    .artist_header .user_contain li {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .responsiveGallery-container p.title {
        padding-left: 0px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 479px) {
    .responsiveGallery-wrapper {
        padding-top: 100% !important;
    }
    .container_aboutme.filtersec .responsiveGallery-btn {
        height: 40px !important;
        bottom: -57px !important;
        width: 40px !important;
        background: #ed1277 !important;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_aboutme.filtersec .responsiveGallery-btn i.fas {
        left: 0px;
    }
}

@media only screen and (max-width: 440px) {
    .artist_header {
        height: 160px;
    }
}

@media only screen and (max-width: 1440px) {
    .container.product_caros>.row {
        margin: 0px;
    }
    .procaro .bigcarrow .carousel-control.right {
        right: -71px;
        top: 33%;
    }
}


/* Home Page - Banner  - 12-11-19*/


/* Home Page */

@media only screen and (min-width:320px) and (max-width:1024px) {
    .sales_stats.orders_tab td:first-child {
        width: 100% !important;
        text-align: right !important;
    }
    .sales_stats.orders_tab td {
        text-align: right !important;
    }
    .sales_stats.orders_tab td.view_det {
        text-align: center !important;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .sales_stats.orders_tab.customer_order_tab {
        margin-top: 0px !important;
    }
    .container.filtersec.firstfilter.ws_order {
        margin-top: 40px;
    }
}